head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
	meta(charset=" utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	title #{site_name} | #{title}
	meta(name="viewport" content="width=device-width, initial-scale=1")
	meta(property="og:title" content=site_name +" | "+ title)
	meta(property="og:type" content=type)
	meta(property="og:url" content=url)
	meta(property="og:image" content=image)
	meta(property="og:site_name" content=site_name)
	meta(property="og:description" content=description)
	meta(property="og:locale" content="ja_JP")
	meta(name="twitter:card" content=twitter_card)
	meta(name="twitter:site" content=twitter_site)
	meta(name="twitter:image" content=image)
	meta(name="twitter:title" content=site_name+" | "+title)
	meta(name="twitter:description" content=description)
	if use_fontawesome
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
	if styles_usetemp
		link(rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css")
		link(rel="stylesheet" href=root + "stylesheets/main.css")
	// このページのみのStyleSheet
	if styles.length > 0
		each style in styles
			link(href=root +"stylesheets/"+ style, rel="stylesheet")
	//
	if scripts_usetemp
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src=root + "script/main.js")
	if scripts.length > 0
		each script in scripts
			script(src=root +"script/"+ script)
